body{
    margin: 0;
    position: relative;
}
.navbar{
    background-color: #0b6401;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1000;
}
.navbar ul{
    margin-right: 60%;
}
.navbar li{
    border-bottom: 1px #0b6401 solid;
}
.navbar a{
    color: white;
    font-size: 1.3em;
}
.navbar-brand img{
    height: 60px;
    width: 60px;
}
.navbar li:hover{
    border-bottom-color: white;
}
.slider{
    position: relative;
    width: 100%;
    height: 100vh;
}
.slider-img{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.unshown{
    opacity: 0;
}
.logo-text{
    position: absolute;
    top: 15%;
    left: 26%;
}
.logo-text h1{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.logo-text p{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.hr{
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #0b6401, #f0f0f0);
}
.flex-box{
    display: flex;
    width:100%;
    flex-wrap: wrap;
}
.flex-box div{
    width: 32%;
    margin-bottom: 1%;
    margin-left: 1%
}
.flex-box div img{
    width: 100%;
    height: 100%;
    border: none;
}
.galery-logo{
    margin: 20px 35%;
}

.rooms{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.room{
    position: relative;
    text-align: center;
    border: 1px #0b6401 solid;
    width: 32%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 5px;

}
.room img{
    width: 100%;
}
.room p{
    position: absolute;
}
.room-name{
    top: 0;
    color: white;
    font-size: 1.5rem;
    background: rgba(11,100, 1, 0.5);
    width: 100%;
    margin: 0;
}
.room-pricing{
    bottom: 0;
    color: white;
    font-size: 1.5rem;
    background: rgba(11,100, 1, 0.5);
    width: 100%;
    margin: 0;
}
.rooms-logo{
    margin: 20px 33.5%;
}
.rooms-description{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
footer
{
    color: rgb(230, 187, 187);
}

footer h1
{
    color: white;
}

.footerCenter i
{
    color: white;
    margin: 5px;
}

.SocialCommunicate
{
    font-size: 1.5rem;
}
.footerCenter
{
    height: 220px;
    width: 100%;
    background-color: #0b6401;
    
}
.footerInfo{
    display: flex;
    Justify-content: space-between;
    padding-top: 10px;
    line-height: 180%;
}

.footerInfoLeft
{padding-left:12%; padding-top:30px; padding-right: -20%;}

.footerInfoRight
{padding-right: 14%;}

footer ul{
    list-style: none;
    padding: 0;
}

.footerBottom
{
    padding-top: 15px;
    height: 40px;
    width: 100%;
    background-color: #352929;
}

.footerBottom .containar
{
    display: flex;
    Justify-content: space-between;

    padding-left:10%;
}
.footerBottom .footerCreate
{
    padding-right: 10%;
}
footer{
    padding-top: 70px;
    position: absolute;
    top: 100%;
    width: 100%;
    color: white;
}
footer a{
    color: white;
}

